/* Contact Page Styles */

nav{
    margin-bottom: 100px;
}

form{
    overflow: hidden;
    display: grid;
    gap: 18px;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* width: 80%; */
    margin: 50px auto;
    padding: 15px 50px;
    max-width: 1000px;
}

form>input, form>button, form>textarea{
    background: none;
    height: 40px;
    color: inherit;
    font-family: inherit;
    margin: 10px 0;
}
form>input, form>textarea{
    outline: none;
    border: none;
    border-bottom: 1px solid var(--light);
    transition: all 0.35s;
}

form>input:hover, form>textarea:hover{
    background: rgba(245, 245, 247, 0.1);;
}

form>button{
    border: 1px solid var(--light);
    border-radius: 18px;
    font-size: 16px;
    font-weight: 800;
}

#name{
    grid-column: 1 / span 2;
}

#email{
    grid-column: 3 / span 2;
}

#subject{
    grid-column: 1 / span 4;
}

#message{
    grid-column: 1 / span 4;
    /* height: 100px; */
    white-space: nowrap;
}

form>button{
    /* position: relative; */
    margin-top: 20px;
    justify-self: center;
    grid-column: 2 / span 2;
    width: 180px;
    transition: all 0.35s;
}

/* form>button:hover{
    box-shadow: 0px 0px 8px var(--light);
} */

.footnote{
    padding-bottom: 50px;
}

.email-address{
    font-size: 26px;
}