/* Background image */
.image-band{
    background-image: url(images/band-image2.jpg);
    height: 100%;
    
    background-size: cover;
}



/* Promo */
.promo{
    margin: 50px auto;
    width: 1000px;
    max-width: 80%;
    /* height: 750px; */
}

.video-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%
}

.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}

section{
    margin: 150px 50px;
}

/* Music Links */
.music-links{
    /* margin-top: 150px; */
}

.music-links>img{
    max-width: 350px;
}

.links-list{
    /* border: 1px solid blue; */
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 50px;
}

.links-list>li{
    /* border: 1px solid blue; */
    border-top: 1px solid #f5f5f7;
    border-bottom: 1px solid #f5f5f7;
    padding: 15px 50px;
    transition: all 0.3s;
    /* text-align: left; */
}

.links-list>li:hover{
    color: #fff;
    font-weight: 600;
    /* border-bottom: 1px solid #f5f5f7;
    border-radius: 50% 50%; */
    /* transition: all 0.3s; */
}

.links-list>li>a>i{
    font-size: 30px;
}

li>a>span{
    padding-left: 10px;
    font-size: 35px;
}



/* Image slider styles */
.slider{
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 500px;
    height: 500px;
}

/* css for manual slide navigation */
.navigation-manual{
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #f5f5f7
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* css for automatic nanigation */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #f5f5f7;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #f5f5f7;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #f5f5f7;
}


#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #f5f5f7;
}



/* Upcoming Shows */
.upcoming-shows{
    margin-top: 100px;
}