/* Home Page Styels */

/* Background image */
.image-band{
    /* image "Blue and Purple Sky With Stars" by Frank Cone pexels.com */
    background-image: url(images/galaxy-bg-desat2.jpg);
    min-height: 1000px;
    height: 100%;
    background-size: cover;
}

/* Album Art Promo */
.centered{
    margin: auto;
    padding-top: 70px;
    display: flex;
    justify-content: space-between;
}

.centered h2{
    /* font-family: "gemunu libre"; */
    padding-top: 0;
    font-size: 70px;
    font-weight: 500;
}

.tiny{
    font-size: 12px;
}

.promo-img{
    width: 500px;
}


/* Promo */
.promo{
    /* display: flex;
    justify-items: space-between; */
    margin: 20px auto;
    width: 1000px;
    max-width: 90%;
    height: 80%;
    min-height: 750px;
    height: 750px;
}

/* .video-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%
}

.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
} */

/* Satellite Promo */
.promo-img{
    margin-top: 50px;
    box-shadow: 14px 20px 50px var(--dark);
}



.left{
    padding-top: 100px;
}

/* .right{
    padding-left: 250px;
} */

.left p{
    padding: 50px 0;
    border-top: 1px solid var(--light);
    /* text-decoration: underline; */
}

.right h2{
    /* border-top: 1px solid white; */
    border-bottom: 1px solid var(--light);
    /* padding: 30px 0; */
    /* background: rgba(29,29,31,0.3); */
}

.right p{
    font-size: 20px;
}

.listen-btn{
    width: 100px;
    font-size: 18px;
    margin-left: 5px;
}

.listen-btn{
    border-radius: 8px;
    height: 50px;
    border: 1px solid var(--light);
    background-color: rgba(0,0,0,0);
    transition: all 0.3s;
    color: var(--light);
}

.listen-btn:hover{
    box-shadow: 0px 0px 8px var(--light);
}

section{
    /* width: 80%; */
    margin: 50px 50px;
}


/* Upcoming Shows */
.upcoming-shows{
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    padding: 50px;
}

.upcoming-shows ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-size: 25px;
    /* border: 1px solid orange; */
    /* max-width: 80%; */
}

.upcoming-shows li{
    /* border: 1px solid orange; */
    padding: 15px 0;
    /* max-width: 80%; */
}

.show-info{
    padding: 0 3rem;
}

.show-date{
    text-align: left;
}

.tickets-btn{
    border: 1px solid var(--light);
    border-radius: 8px;
    padding: 6px 15px;
}


/* Music Links */
.music-links{
    margin-top: 100px;
}

.music-links>img{
    max-width: 350px;
}

.links-list{
    /* border: 1px solid blue; */
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 50px;
}

.links-list>li{
    /* border: 1px solid blue; */
    border-top: 1px solid var(--light);
    border-bottom: 1px solid var(--light);
    padding: 15px 50px;
    transition: all 0.3s;
    /* text-align: left; */
}

.links-list>li:hover{
    color: var(--light);
    font-weight: 600;
    /* border-bottom: 1px solid #f5f5f7;
    border-radius: 50% 50%; */
    /* transition: all 0.3s; */
}

.links-list>li>a>i{
    font-size: 30px;
}

li>a>span{
    padding-left: 10px;
    font-size: 35px;
}



/* Image slider styles */
.slider{
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 500px;
    height: 500px;
}

/* css for manual slide navigation */
.navigation-manual{
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid var(--light);
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: var(--light)
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* css for automatic nanigation */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid var(--light);
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: var(--light);
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: var(--light);
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: var(--light);
}


#radio4:checked ~ .navigation-auto .auto-btn4{
    background: var(--light);
}



/* Upcoming Shows */
.upcoming-shows{
    margin-top: 100px;
}