@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

/* Color Variables */
:root{
    --light: #f5f5f7;
    --med-dark: #333;
    --dark: #1d1d1f;
    --very-dark: #0f0f0f;
}

/* General Styles */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    margin-top: 0px;
    margin-left: 0px;
    margin-right: 0px;
    margin-bottom: 0px;
    height: 100%;
    
    /* <a href="https://www.freepik.com/free-vector/geometric-circular-dot-shape-background_27312107.htm#query=repeating%20texture&position=49&from_view=search&track=robertav1_2_sidr">Image by vector_corp</a> on Freepik */
    background-image: url(images/light-texture.png);
    background-repeat: repeat;

    text-align: center;
    font-family: "josefin sans", arial, sans-serif;
    color: var(--light);
}

h1{
    font-size: 50px;
}

.hover-glow:hover{
    box-shadow: 0px 0px 8px var(--light);
    cursor: pointer;
}
/* Test CSS **for seeing the borders** */
/* section{
    border: 1px solid blue;
}

nav{
    border: 1px solid red;
}
 
footer{
    border: 1px solid green;
} */

.content{
    height: 100%;
}

h2, h3{
    font-size: 40px;
    color: var(--light);
}

h2, h3>a{
    font-size: 40px;
    color: var(--light);
}

.container-centered{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}



/* Navigation */
.logo{
    padding: 10px;
    width: 250px;
    transition: all 0.35s;
    /* border: 1px solid red; */
}

.logo:hover{
    opacity: 65%;
}

#links-div>ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    padding: 0 20px;
}

.nav-links>li>a{
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    font-weight: 300;
    transition: all 0.4s;
    padding: 10px;
}

.nav-links>li>a:hover{
    /* color: #fff; */
    opacity: 65%;
    /* font-weight: 700; */
    border-bottom: 1px solid var(--light);
}


/* Social Media Icons*/
.social-media{
    position: fixed;
    top: 0;
    right: 0;
}

.social-media>ul>li{
    padding: 3px 25px;
}

.social-media>ul>li>a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}



/* Email Sign Up */
.email-list{
    /* background: var(--dark); */

    /* box-shadow: 0 30px 30px var(--dark); */

    margin: 100px 0 50px 0;
    padding: 25px
}

.email-list p{
    font-size: 25px;
}

.email-list i{
    padding-right: 5px;
    font-size: 22px;
}

.email-input{
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;
    outline: none;
}

.sign-up-btn{
    width: 100px;
    font-size: 18px;
    margin-left: 5px;

}

.sign-up-btn, .email-input{
    border-radius: 8px;
    height: 50px;
    border: 1px solid var(--light);
    background-color: rgba(0,0,0,0);
    transition: all 0.3s;
    color: var(--light);
}

.email-input:hover{
    box-shadow: 0px 0px 8px var(--light);
}



/* Footer */
footer{
    border-top: 1px solid #333;
    /* background-color: var(--very-dark); */
    padding-top: 30px;
    /* box-shadow: 0 -15px 20px var(--very-dark); */
}

.footer-logo{
    width: 100px;
    padding-bottom: 20px;
}

.footer-links>a{
    /* border: 1px solid red; */
    opacity: 60%;
    font-size: 100;
    font-weight: 300;
    padding: 18px;
    transition: all 0.35s;
}

.footer-links>a:hover{
    opacity: 100%;
}

small{
    margin-top: 10px;
    padding: 10px 0;
}

.copy{
    padding: 20px;
}