@import url('https://fonts.googleapis.com/css2?family=Gemunu+Libre:wght@300;400;500;700&family=Josefin+Sans:wght@300;400;500;600;700&display=swap');



/* General Styles */
*{
    box-sizing: border-box;
}

html{
    height: 100%;
}

body {
    height: 100%;
    background-color: #0f0f0f;
    text-align: center;
    font-family: "josefin sans", arial, sans-serif;
    color: #f5f5f7;
}

/* Test CSS **for seeing the borders** */
/* section{
    border: 1px solid blue;
}

nav{
    border: 1px solid red;
}
 
footer{
    border: 1px solid green;
} */

.content{
    height: 100%;
}

h2, h3{
    font-size: 40px;
    color: #f5f5f7;
}

h2, h3>a{
    font-size: 40px;
    color: #f5f5f7;
}

.container-centered{
    display: flex;
    justify-content: center;
}

a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}



/* Navigation */
.logo{
    padding: 10px;
    width: 250px;
    transition: all 0.35s;
    /* border: 1px solid red; */
}

.logo:hover{
    opacity: 65%;
}

#links-div>ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    padding: 0 20px;
}

.nav-links>li>a{
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    font-weight: 300;
    transition: all 0.4s;
    padding: 10px;
}

.nav-links>li>a:hover{
    color: #fff;
    opacity: 65%;
    /* font-weight: 700; */
    border-bottom: 1px solid white;
}


/* Social Media Icons*/
.social-media{
    position: fixed;
    top: 0;
    right: 0;
}

.social-media>ul>li{
    padding: 3px 25px;
}

.social-media>ul>li>a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}



/* Email Sign Up */
.email-list{
    background: #1d1d1f;
    margin: 100px 0 50px 0;
    padding: 25px
}

.email-list p{
    font-size: 20px;
}

.email-input{
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;

}

.sign-up-btn{
    width: 100px;
    font-size: 18px;
    margin-left: 5px;

}

.sign-up-btn, .email-input{
    border-radius: 8px;
    height: 50px;
    border: 1px solid #f5f5f7;
    background-color: rgba(0,0,0,0);
    transition: all 0.3s;
    color: #f5f5f7;
}

.sign-up-btn:hover, .email-input:hover{
    box-shadow: 0px 0px 8px #f5f5f7;
}



/* Footer */
.footer-logo{
    width: 100px;
    padding-bottom: 10px;
}

small{
    margin-top: 10px;
    padding: 10px 0;
}