@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400;500;600;700&display=swap');

/* General Styles */

*{
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html{
    height: 100%;
}

body {
    height: 100%;
    background-color: #0f0f0f;
    text-align: center;
    font-family: "josefin sans", arial, sans-serif;
    color: #f5f5f7;
}


h2, h3{
    font-size: 50px;
    color: #fff
}


a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}


/* Background image */
.image-band{
    background-image: url(images/band-image2.jpg);
    height: 100%;
    
    background-size: cover;
}



/* Navigation */

.logo{
    padding: 15px;
    width: 300px;
}

#links-div>ul{
    display: flex;
    justify-content: center;
}

li{
    list-style: none;
    padding: 0 20px
}

.nav-links>li>a{
    text-decoration: none;
    color: inherit;
    font-size: 30px;
    transition: all 0.4s;
    padding: 10px;
}

.nav-links>li>a:hover{
    color: #fff;
    font-weight: 700;
}


/* Social Media */

.social-media{
    /* display: flex; */
    /* flex-direction: column; */
    position: fixed;
    top: 0;
    right: 0;
}

.social-media>ul>li{
    padding: 3px 25px;
}

.social-media>ul>li>a{
    text-decoration: none;
    color: inherit;
    font-size: 20px;
}



/* Promo */

.promo{
    margin-top: 50px;
    margin: auto;
    max-width: 80%
}

.container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%
}

.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* Upcoming Shows */
.upcoming-shows{
    margin-top: 100px;
}


/* Music Links */
.music-links{
    /* background: rgb(15,15,15);
    background: linear-gradient(0deg, rgba(15,15,15,1) 0%, rgba(77,77,71,1) 34%, rgba(29,29,31,1) 77%, rgba(15,15,15,1) 100%);  */
    /* border: 1px solid white; */
    margin-top: 150px;
    /* display: flex;
    flex-direction: column;
    align-items: center; */
    
}

.music-links>img{
    max-width: 350px;
}

.links-list{
    /* border: 1px solid blue; */
    max-width: 1000px;
    margin: auto;
    display: grid;
    grid-template-columns: 50% 50%;
    padding: 10px 50px;
}

.links-list>li{
    /* border: 1px solid blue; */
    padding: 15px 50px;
    transition: all 0.3s;
    /* text-align: left; */
}

.links-list>li:hover{
    color: #fff;
    font-weight: 600;
    /* border-bottom: 1px solid #f5f5f7;
    border-radius: 50% 50%; */
    /* transition: all 0.3s; */
}

.links-list>li>a>i{
    font-size: 30px;
}

li>a>span{
    padding-left: 10px;
    font-size: 35px;
}






/* Email Sign Up */

.email-list{

    margin: 100px 0 50px 0;
}

.email-input{
    width: 300px;
    font-size: 20px;
    text-align: center;
    margin-right: 5px;

}


.sign-up-btn{
    width: 100px;
    font-size: 18px;
    margin-left: 5px;

}

.sign-up-btn, .email-input{
    border-radius: 8px;
    height: 50px;
    border: 1px solid #f5f5f7;
    background-color: rgba(0,0,0,0);
    transition: all 0.3s;
    color: #f5f5f7;
}

.sign-up-btn:hover, .email-input:hover{
    box-shadow: 0px 0px 8px #f5f5f7;
}


/* Footer */

.footer-logo{
    width: 100px;
    padding-bottom: 10px;
}



/* Image Slider */
/* body {
    margin: 0;
    padding: 0;
    height: 100vh;

} */

.slider{
    margin: auto;
    width: 500px;
    height: 500px;
    border-radius: 10px;
    overflow: hidden;
}

.slides{
    width: 500%;
    height: 500px;
    display: flex;
}

.slides input{
    display: none;
}

.slide{
    width: 20%;
    transition: 2s;
}

.slide img{
    width: 500px;
    height: 500px;
}

/* css for manual slide navigation */
.navigation-manual{
    position: absolute;
    width: 500px;
    margin-top: -40px;
    display: flex;
    justify-content: center;
}

.manual-btn{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    cursor: pointer;
    transition: 1s;
}

.manual-btn:not(:last-child){
    margin-right: 40px;
}

.manual-btn:hover{
    background: #f5f5f7
}

#radio1:checked ~ .first{
    margin-left: 0;
}

#radio2:checked ~ .first{
    margin-left: -20%;
}

#radio3:checked ~ .first{
    margin-left: -40%;
}

#radio4:checked ~ .first{
    margin-left: -60%;
}

/* css for automatic nanigation */

.navigation-auto{
    position: absolute;
    display: flex;
    width: 500px;
    justify-content: center;
    margin-top: 460px;
}

.navigation-auto div{
    border: 2px solid white;
    padding: 5px;
    border-radius: 10px;
    transition: 1s;
}

.navigation-auto div:not(:last-child){
    margin-right: 40px;
}

#radio1:checked ~ .navigation-auto .auto-btn1{
    background: #f5f5f7;
}

#radio2:checked ~ .navigation-auto .auto-btn2{
    background: #f5f5f7;
}

#radio3:checked ~ .navigation-auto .auto-btn3{
    background: #f5f5f7;
}


#radio4:checked ~ .navigation-auto .auto-btn4{
    background: #f5f5f7;
}