/* Color Variables */
:root{
    --light: #f5f5f7;
    --dark: #1d1d1f;
    --very-dark: #0f0f0f;
}

nav{
    margin-bottom: 100px;
}

/* .active{
    border-bottom: 1px solid white;
} */

/* Promo */
.promo{
    margin: 20px auto;
    width: 1000px;
    max-width: 90%;
    /* height: 80% */
    /* min-height: 750px; */
    height: 750px;
}

.video-container{
    position: relative;
    overflow: hidden;
    width: 100%;
    padding-top: 56.25%
}

.responsive-iframe{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%;
}


/* Album Grid Styles */
.music-grid{
    /* border: 1px solid red; */
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 20px;
    /* max-width: 80%; */
}


/* Album Card Styles */
.album{
    margin-bottom: 80px;
    /* border: 1px solid white; */
}

.album-art{
    width: 250px;
}

.album-title{
    font-size: 28px;
    padding: 0;
    margin: 18px 0;
}

.album-links{
    padding: 0;
    display: flex;
    justify-content: center;
    /* border: 1px solid red; */
}

.album-links > li{
    border-width: 1px;
    border-style: solid;
    border-image:
        linear-gradient(
            to bottom,
            var(--light),
            rgba(0,0,0,0)
        ) 1 100%;
    /* border-right: 1px solid #f5f5f7; */ 
}

.album-links > li:first-child{
    border-left: none;
}

.album-links > li:last-child{
    border-right: none;
}

.album-links i {
    opacity: 60%;
    font-size: 24px;
    transition: all 0.35s;
}

.album-links i:hover {
    opacity: 100%;
}